<div class="grid grid-4col">
    <label class="grid-span-2 skill">{{label}}</label>
    <input type="number" name="system.skills.{{skillKey}}.current" value="{{skillData.current}}" data-dtype="Number" title="Limit">
    <input type="number" name="system.skills.{{skillKey}}.max" value="{{skillData.max}}" data-dtype="Number" title="Max">
</div>