<section class="tab {{tabs.mundane_resources.id}} {{tabs.mundane_resources.cssClass}} scrollable" id="mundane_resources"
    data-tab="{{tabs.mundane_resources.id}}" data-group="{{tabs.mundane_resources.group}}">
    <div class="form-group">
        <label for="money">Money</label>
        <input type="number" name="system.mundaneResources.money" id="money" value="{{system.mundaneResources.money}}"
            data-dtype="Number">
    </div>
    <div class="form-group">
        <label for="vehicle">Vehicle</label>
        <input type="text" name="system.mundaneResources.vehicle" id="vehicle"
            value="{{system.mundaneResources.vehicle}}" data-dtype="String">
    </div>
    <div class="form-group">
        <label for="lodging">Lodging</label>
        <input type="text" name="system.mundaneResources.lodging" id="lodging"
            value="{{system.mundaneResources.lodging}}" data-dtype="String">
    </div>
    <div class="resource-group">
        <!-- Weapons -->
        <h5 class="quick-label">Weapons</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>Skill</div>
                <div class='item-prop'>Damage</div>
                <div class='item-prop'>Injury Rating</div>
                <div class='item-prop'>Ammunition</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Item'}}' data-type='weapon'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each weapons as |item id|}}
            <li class='item ' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="weapon{{item._id}}">
                        <div class='item-image'>
                            <a class='rollable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{localize (concat "ARKHAM_HORROR.SKILL." item.system.skill)}}</div>
                    <div class='item-prop'>{{item.system.damage}}</div>
                    <div class='item-prop'>{{item.system.injuryRating}}</div>
                    <div class='item-prop'><input type="text" value="{{item.system.ammunition.current}}"
                            data-item-stat="system.ammunition.current" class="item-editable-stat ammo_input"> /
                        {{item.system.ammunition.max}} <span class="weapon-reload-icon" data-item-id='{{item._id}}'
                            data-action="clickWeaponReload" title="{reload"><i
                                class="fa-solid fa-rotate clickable"></i></span></div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="weapon{{item._id}}">
                    <div>
                        <strong>Special Rules:</strong>
                        {{{item.system.specialRules}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Protective Equipment -->
        <h5 class="quick-label">Protective Equipment</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>Costs</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Item'}}' data-type='protective_equipment'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each protectiveEquipments as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="protectiveEquipment{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{item.system.cost}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="protectiveEquipment{{item._id}}">
                    <div class="grid grid-2col">
                        <div>
                            <strong>Defensive Benefit:</strong>
                            {{{item.system.defensiveBenefit}}}
                        </div>
                        <div>
                            <strong>Special Rules:</strong>
                            {{{item.system.specialRules}}}
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Useful Items -->
        <h5 class="quick-label">Useful Items</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>Costs</div>
                <div class='item-prop'>Uses</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Useful Item'}}' data-type='useful_item'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each usefulItems as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="usefulItem{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{item.system.costs}}</div>
                    <div class="item-prop"><input type="text" value="{{item.system.uses.current}}"
                            data-item-stat="system.uses.current" class="item-editable-stat ammo_input"> /
                        {{item.system.uses.max}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="usefulItem{{item._id}}">
                    <div>
                        <strong>Special Rules:</strong>
                        {{{item.system.specialRules}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Favors -->
        <h5 class="quick-label">Favors</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>XP</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Favor'}}' data-type='favor'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each favors as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="usefulItem{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{item.system.xp}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="usefulItem{{item._id}}">
                    <div class="grid grid-3col">
                        <div>
                            <strong>Benefit</strong>
                            {{{item.system.benefit}}}
                        </div>
                        <div>
                            <strong>Declining</strong>
                            {{{item.system.decliningText}}}
                        </div>
                        <div>
                            <strong>Losing</strong>
                            {{{item.system.losingText}}}
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</section>