<section class="arkham-roll-card">
    <header class="arkham-roll-header">
        <div class="arkham-roll-heading">
            <span class="arkham-roll-kind">{{skillUsed}}</span>
        </div>
        <div class="arkham-roll-subtitle">Success on <span class="arkham-emph">{{successOn}}+</span></div>
    </header>

    <div class="arkham-roll-banner {{#if isSuccess}}is-success{{else}}is-failure{{/if}}">
        {{#if isSuccess}}
            SUCCESS
        {{else}}
            FAILURE
        {{/if}}
    </div>

    <div class="arkham-roll-results">
        <div class="arkham-dice-results">
            <div class="dice-results-container arkham-dice-results-container"{{#if horrorDiceUsed}} title="Horror dice are marked in black."{{/if}}>
                {{#each results}}
                    <span class="dice-result arkham-die {{#if isHorror}}horror-die{{else}}{{#if (gte this.result ../successOn)}}success{{else if (eq this.result 1)}}failure{{/if}}{{/if}}">
                        {{this.result}}
                    </span>
                {{/each}}
            </div>
        </div>

        <div class="arkham-totals">
            <div class="arkham-total">
                <span class="arkham-total-label">Successes</span>
                <span class="arkham-total-value">{{successCount}}</span>
            </div>
            <div class="arkham-total">
                <span class="arkham-total-label">Failures</span>
                <span class="arkham-total-value">{{failureCount}}</span>
            </div>
            <div class="arkham-total">
                <span class="arkham-total-label">Trauma</span>
                <span class="arkham-total-value">{{horrorFailureCount}}</span>
            </div>
        </div>

        <div class="arkham-roll-flags">
            {{#if rollWithAdvantage}}
                <span class="arkham-roll-flag is-adv">Advantage</span>
            {{/if}}
            {{#if rollWithDisadvantage}}
                <span class="arkham-roll-flag is-dis">Disadvantage</span>
            {{/if}}

            <span class="arkham-roll-flag is-diff">
                {{#if (eq successesNeeded 1)}}Normal{{else if (eq successesNeeded 2)}}Difficult{{else if (eq successesNeeded 3)}}Very Difficult{{else}}Difficulty {{successesNeeded}}{{/if}}
            </span>
        </div>

        <footer class="arkham-roll-footer">
            <span class="arkham-roll-footer-left">Dice Pool: {{oldDicePoolValue}} → {{newDicePoolValue}}</span>
            <span class="arkham-roll-footer-right">Bonus Dice: {{bonusDice}}</span>
        </footer>
    </div>
</section>