<form class="roll-dialog-container scrollable">
    <div class="form-group">
        <label for="dicepool">Dice Pool</label>
        <div class="flexrow">
            <input type="number" id="dicepool" name="diceToUse" value="{{diceToUse}}" min="0"> / 
            <input type="number" name="currentDicePool" value="{{currentDicePool}}" min="0" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="skill-key">Skill</label>
        <input type="text" id="skill-key" name="skillKey" value="{{localize (concat "ARKHAM_HORROR.SKILL." skillKey)}}" readonly>
    </div>
    <div class="form-group">
        <label for="skill-current">Success on X+</label>
        <input type="number" id="skill-current" name="skillCurrent" value="{{skillCurrent}}" min="0">
    </div>
    <div class="form-group">
        <label for="bonus_dice">Bonus Dice</label>
        <input type="number" id="bonus_dice" name="bonus_dice" value="{{bonus_dice}}" min="0">
    </div>
    <div class="form-group">
        <label for="penalty">Penalty</label>
        <input type="number" id="penalty" name="penalty" value="{{penalty}}" min="0">
    </div>
    <div class="form-group">
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" name="difficulty">
            <option value="1">Normal (1)</option>
            <option value="2">Difficult (2)</option>
            <option value="3">Very Difficult (3)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="modifier">Advantage</label>
        <select id="modifier" name="advantageModifier">
            <option value="0">None</option>
            <option value="1">Advantage</option>
            <option value="2">Disadvantage</option>
            <option value="3">Adv + Disadvantage</option>
        </select>
    </div>
    {{#if weaponToUse}}
    <div class="form-group">
        <label for="weapon-to-use">Weapon</label>
        <input type="text" id="weapon-to-use" name="weaponToUse" value="{{weaponToUse.name}}" readonly>
    </div>
    {{/if}}
    <footer class="dialog-footer">
        <button type="button" class="roll-button" data-action="clickedRoll"><i class="fa-solid fa-dice"></i> Roll</button>
    </footer>
</form>