<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form"
    data-tab="{{tabs.form.id}}" data-group="{{tabs.form.group}}">
    <div class="form-group-rich-editor">
        <h4>{{localize "ITEM.Weapon.specialRules"}}</h4>
        <prose-mirror name="system.specialRules" button="true" editable="{{editable}}" toggled="false"
            value="{{system.specialRules}}">
            {{{specialRulesHTML}}}
        </prose-mirror>
    </div>
</section>