<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form" data-tab="{{tabs.form.id}}"
    data-group="{{tabs.form.group}}">

    <div class="form-group-rich-editor">
        <h4>{{localize "ITEM.PersonalityTrait.positive"}}</h4>
        <prose-mirror name="system.positive" button="true" editable="{{editable}}" toggled="false"
            value="{{system.positive}}">
            {{{positiveHTML}}}
        </prose-mirror>
    </div>

    <div class="form-group-rich-editor">
        <h4>{{localize "ITEM.PersonalityTrait.negative"}}</h4>
        <prose-mirror name="system.negative" button="true" editable="{{editable}}" toggled="false"
            value="{{system.negative}}">
            {{{negativeHTML}}}
        </prose-mirror>
    </div>
</section>