<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form" data-tab="{{tabs.form.id}}"
    data-group="{{tabs.form.group}}">
    <div class="form-group">
        <label for="tier" class="styled-label">Tier</label>
        <input type="number" id="tier" name="system.tier" value="{{system.tier}}">
    </div>
</section>